<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Request Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Request number: <span th:text="${request.id}"> </span>
		</h1>
		<p>
			Instant: <span
				th:text="${#dates.format(request.instant, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Client: <span th:text="${request.client.name}"></span>
		</p>
		<p>
			Payment Status: <span
				th:text="${request.payment.status.description}"></span>
		</p>
		<h3>Request details:</h3>
		<table border="1">
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Unit price</th>
				<th>Subtotal</th>
			</tr>
			<tr th:each="item : ${request.items}">
				<td th:text="${item.product.name}">name</td>
				<td th:text="${item.quantity}">quantity</td>
				<td
					th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2,
'COMMA')}">price</td>
				<td
					th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2,
'COMMA')}">subTotal</td>
			</tr>
		</table>
		<p>
			Valor total: <span
				th:text="${#numbers.formatDecimal(request.totalPrice, 0,
'POINT', 2, 'COMMA')}"></span>
		</p>
	</div>
</body>
</html>